@import 'style.css';

.search-form {
    display: flex;
    align-items: center;
    width: 40vw;
    height: var(--sz-h1);
    position: relative;
}

label {
    width: 100%;
    height: 100%;
    padding: 0 var(--sz-micro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--sz-micro);
}

.search-background {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: var(--clr-max-dk);
    box-shadow: none;
    border-radius: var(--sz-micro);
    z-index: -1;
    pointer-events: none;
}
.search-icon,
.search-close {
    height: 100%;
    aspect-ratio: 1;
    border: none;
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
}

.search-close {
    visibility: hidden;
}

.search-input {
    color: var(--clr-min-dk);
    width: 100%;
    height: var(--sz-h3);
    background: none;
    border: none;
    outline: none;
    transition: var(--trsn-base);
    padding-right: var(--sz-micro);

    &:active,
    &:focus {
        outline: none;
    }
}

.search-input::placeholder {
    color: var(--clr-min-lt);
    font-family: 'Garamond', sans-serif;
    font-size: var(--sz-base);
    font-weight: 500;
}

.search-form:focus-within .search-background {
    border: 1px solid var(--clr-min-dk);
    background: var(--clr-max-lt);
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: var(--trsn-base);
    -webkit-transition-delay: 9999s;
}