@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {

    /* COLOR */
    
    --clr-max-lt: #fff;
    --clr-max-dk: #F2F2F2;
    --clr-min-lt: #6d6466;
    --clr-min-dk: #151515;

    /* SIZE */
    --sz-peta: 3.75rem;
    --sz-tera: 3.5rem;
    --sz-giga: 3.25rem;
    --sz-mega: 3rem;
    --sz-kilo: 2.75rem;

    --sz-h1: 2.625rem;
    --sz-h2: 2.25rem;
    --sz-h3: 2rem;
    --sz-h4: 1.75rem;
    --sz-h5: 1.5rem;
    --sz-h6: 1.375rem;

    --sz-base: 1rem;
    --sz-default: 0.8125rem;

    --sz-milli: 0.75rem;
    --sz-micro: 0.5rem;
    --sz-nano: 0.25rem;
    --sz-pico: 0.125rem;

    /* TRANSITION */
    --trsn-base: all 0.25s ease;
}

html {
    scroll-behavior: smooth;    
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

body {
    font-family: 'Garamond', serif;
    font-size: var(--sz-default);
    font-weight: 400;
    color: var(--clr-min-dk);
    line-height: 1;
    margin: 0;
    padding:0;
    background: var(--clr-max-lt);
    overflow: hidden;
}

h1 {
    font-size: var(--sz-h3);
    margin: 0 !important;
}

.upper {
    text-transform: uppercase;
}

.line {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none !important;
    transition: var(--trsn-base);
    height: auto;
    padding: 0;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -5px;
        left: 0;
        background: var(--clr-min-dk);
        transition: all 0.25s ease-out;
    }
    
    &:hover::after {
        width: 100%;
      }
}

header {
    background: var(--clr-max-lt);
    border-bottom: 2px solid var(--clr-max-dk);
    color: var(--clr-min-lt);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: var(--sz-micro);
    position:fixed;
    z-index: 10;
    display: grid;
    grid-template-columns: 4% 8% auto 2.6% 2.6% 2.6% 4.5%;
    gap: var(--sz-micro);

    .header-item {

        &,
        & > span.icon {
            height: var(--sz-kilo);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > span.icon {
            border-radius: 100%;
            background: none;
            aspect-ratio: 1;
            cursor: pointer;
            transition: var(--trsn-base);
        }

        & > .tooltip {
            top: 110%;
            transform: translateY(-10%);

            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }
        }

        &:hover > .tooltip {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
        }

        &:first-child{

            & > .tooltip {
                left: var(--sz-h5);

                &::after {
                    left: 30%;
                }
            }
        }

        &:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: start;

            & > a.location {
                text-decoration: none !important;
                font-size: var(--sz-h5);
                font-weight: 600;
                color: var(--clr-min-dk);
            }
        }

        &:nth-child(3){
            margin-left: var(--sz-default);
        }

        &:nth-child(6) {
            margin-right: var(--sz-nano);
        }

        &:nth-child(7) {
            margin-right: var(--sz-base);
        }
        
        &:last-child {

            & > img {
                height: var(--sz-h2);
                border-radius: 100%;
                aspect-ratio: 1;
            }

            & > .tooltip {
                right: var(--sz-h5);

                &::after {
                    left: 57.5%;
                }
            }
        }
    }

    .tooltip {
        visibility: hidden;
        opacity: 0;
        width: max-content;
        background: var(--clr-min-dk);
        color: var(--clr-max-dk);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: var(--sz-nano);
        border-radius: var(--sz-micro);
        filter: drop-shadow(rgba(0, 0, 0, 0.12) 0px 0px 2px) drop-shadow(rgba(0, 0, 0, 0.14) 0px 4px 8px);
        font-size: var(--sz-milli);
        padding: var(--sz-micro) var(--sz-milli);
        position: absolute;
        z-index: 20;
        transition: visibility 0.2s ease, opacity 0.2s ease, all 0.25s ease-out;
    }

    .material-symbols-outlined {
        font-size: var(--sz-h5);
        color: var(--clr-min-lt);
        transition: var(--trsn-base);
        aspect-ratio: 1;
        text-align: center;
        transition: var(--trsn-base);
        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
        
        &:hover {
            color: var(--clr-min-dk) !important;
        }
    }

}

main {
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section {
    width: 70%;
    height: 75vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: var(--trsn-base);
    padding-right: var(--sz-micro);
    scrollbar-gutter: stable both-edges;

    &:hover {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: var(--sz-nano) !important;
    }

    &::-webkit-scrollbar-track{
        scroll-margin: 0;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--clr-max-dk);
        border-radius: var(--sz-micro);
        background-clip: padding-box;
        transition: var(--trsn-base);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
}

aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    &.left-menu {
        width: 40%;

        & > article {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &.right-content {
        flex: 1;
        row-gap: 4.5rem;

        & article {
            width: 100%;
            padding: 0 var(--sz-milli);

            & > .upper {
                margin-top: 2rem;

                &.author {
                    margin-top: 1.8rem;
                }
            }

        }
    }
}