@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {

    /* COLOR */
    
    --clr-max-lt: #fff;
    --clr-max-dk: #F2F2F2;
    --clr-min-lt: #6d6466;
    --clr-min-dk: #151515;

    /* SIZE */
    --sz-peta: 3.75rem;
    --sz-tera: 3.5rem;
    --sz-giga: 3.25rem;
    --sz-mega: 3rem;
    --sz-kilo: 2.75rem;

    --sz-h1: 2.625rem;
    --sz-h2: 2.25rem;
    --sz-h3: 2rem;
    --sz-h4: 1.75rem;
    --sz-h5: 1.5rem;
    --sz-h6: 1.375rem;

    --sz-base: 1rem;
    --sz-default: 0.8125rem;

    --sz-milli: 0.75rem;
    --sz-micro: 0.5rem;
    --sz-nano: 0.25rem;
    --sz-pico: 0.125rem;

    /* TRANSITION */
    --trsn-base: all 0.25s ease;
}

html {
    scroll-behavior: smooth;    
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Garamond', serif;
    font-size: var(--sz-base);
    font-weight: 400;
    color: var(--clr-min-dk);
    line-height: 1;
    margin: 0;
    padding:0;
    background: var(--clr-max-lt);
    overflow: hidden;
}

h1 {
    font-size: var(--sz-h3);
    margin: 0 !important;
}

.upper {
    text-transform: uppercase;
}

.line {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none !important;
    transition: var(--trsn-base);
    height: auto;
    padding: 0;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -5px;
        left: 0;
        background: var(--clr-min-dk);
        transition: all 0.25s ease-out;
    }
    
    &:hover::after,
    &:focus::after {
        width: 100%;
      }
}

hr {
    height: 0.5px;
    background-color: var(--clr-min-lt);
    border: none;
    width: 100%;
    margin: 1rem 0;
}

.hint:hover + .flag{
    opacity: 0.035;
}

.flag {
    opacity: 0;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background: var(--clr-min-dk);
    color: var(--clr-max-dk);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: var(--sz-nano);
    border-radius: var(--sz-micro);
    filter: drop-shadow(rgba(0, 0, 0, 0.12) 0px 0px 2px) drop-shadow(rgba(0, 0, 0, 0.14) 0px 4px 8px);
    font-size: var(--sz-milli);
    padding: var(--sz-micro) var(--sz-milli);
    position: absolute;
    z-index: 20;
    transition: visibility 0.2s ease, opacity 0.2s ease, all 0.25s ease-out;
}

.material-symbols-outlined {
    font-size: var(--sz-h5);
    color: var(--clr-min-lt);
    transition: var(--trsn-base);
    aspect-ratio: 1;
    transform: scale(1);
    text-align: center;
    transition: var(--trsn-base);
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    
    &:hover,
    &:focus {
        color: var(--clr-min-dk) !important;
        font-variation-settings:
        'FILL' 1;
    }

    &:active {
        transform: scale(0.8);
    }
}

header {
    background: var(--clr-max-lt);
    border-bottom: 2px solid var(--clr-max-dk);
    color: var(--clr-min-lt);
    top: 0;
    left: 0;
    width: calc(100% - var(--sz-h3));
    height: auto;
    padding: var(--sz-micro) var(--sz-base);
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--sz-micro);

    .header-item {
        &,
        & > span.icon {
            height: var(--sz-kilo);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > span.icon {
            border-radius: 100%;
            background: none;
            aspect-ratio: 1;
            cursor: pointer;
            transition: var(--trsn-base);
        }

        & > .tooltip {
            top: 110%;
            transform: translateY(-10%);

            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }
        }

        &:hover > .tooltip,
        &:focus > .tooltip {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
        }

        &.space {
            flex-grow: 1;
        }

        &:first-child{

            & > .tooltip {
                left: var(--sz-h5);

                &::after {
                    left: 30%;
                }
            }
        }

        &:nth-child(2) {
            & > a.location {
                text-decoration: none !important;
                font-size: var(--sz-h5);
                font-weight: 800;
                color: var(--clr-min-dk);
            }
        }
        
        &:last-child {
            margin-left: var(--sz-micro);

            & > img {
                height: var(--sz-h2);
                border-radius: 100%;
                aspect-ratio: 1;
            }

            & > .tooltip {
                right: var(--sz-h3);

                &::after {
                    left: 70%;
                }
            }
        }
    }
}

main {
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding-top: 8.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.dashboard {
    width: 70%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: var(--trsn-base);
    padding-right: var(--sz-base);
    scrollbar-gutter: stable both-edges;

    &:hover,
    &:focus {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: var(--sz-nano) !important;
    }

    &::-webkit-scrollbar-track{
        scroll-margin: 0;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--clr-max-dk);
        border-radius: var(--sz-micro);
        background-clip: padding-box;
        transition: var(--trsn-base);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
}

section.blog-article {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.8;
    /* padding: 0 var(--sz-milli); */
    font-size: var(--sz-base);
    margin-top: var(--sz-base);
    
    & img {
        width: 100%;

        & + .img-source {
            width: 100%;
            text-align: center !important;
            text-indent: 0;
        }
    }

    & a {
        text-decoration: none;
        color: var(--clr-min-dk);

        &:hover,
        &:focus {
            text-decoration: 1px underline;
        }
    }

    & h2 {
        font-size: var(--sz-h5);
        margin: 1rem 0;
    }

    & h3 {
        font-size: var(--sz-h6);
        margin: 0 0 0.5rem 0;
        text-indent: var(--sz-h1);

        & + p {
            padding-left: var(--sz-h1);
            margin: 0 0 2rem 0;
        }
    }
    
    & ol {
        
        & li {
            margin: 0 0 0.5rem 0;
            font-size: var(--sz-h6);
            font-weight: 600;
            list-style-type:upper-alpha;
        }
    }

    & p {
        text-indent: var(--sz-h1);
        text-align: justify;
        margin: 0 0 1rem 0;
    }

    & .dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .toggle {
            border: none;
            outline: none;
            background: none;
        }

    }
    
    & .dropdown-content {
        display: none;
    }

    & .reference-item {
        text-indent: 0 !important;
    }

    & .about-description {
        line-height: 3.0;
    }

    & .feedback-form {
        margin-bottom: 3rem;

        & label {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            padding: 0;
            justify-content: space-between;

            & textarea {
                resize: none;
                width: 100%;
                height: calc(var(--sz-base) + var(--sz-pico));
                background: var(--clr-max-dk);
                outline: none;
                border: none;
                padding: var(--sz-base);
                border-radius: var(--sz-micro);
                font-family: 'Garamond', sans-serif;
                font-size: var(--sz-base);
            }
    
            & .send-icon {
                background: none;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}

aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    &.left-menu {
        flex-basis: 40%;

        & > article {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &.right-content {
        flex: 60%;
        flex-wrap: wrap;

        & .right-content-articles{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            row-gap: 3.5rem;
        }

        & article {
            width: 100%;

            & h3 {
                margin-top: 2rem;
            }

            & > .header-author {
                margin-top: 2rem;
            }

            & > .author {
                margin-top: 1rem;
            }

        }
    }
}

footer {
    border-top: 1px solid var(--clr-min-lt);
    color: var(--clr-min-lt);
    width: 100%;
    height: auto;
    padding: var(--sz-h3) var(--sz-micro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--sz-base);

    & .footer-item {

        &,
        & > span.icon {
            height: var(--sz-kilo);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > span.icon {
            border-radius: 100%;
            background: none;
            aspect-ratio: 1;
            cursor: pointer;
            transition: var(--trsn-base);
        }

        & > .tooltip {
            bottom: 8%;
            transform: translateY(0%);
            visibility: hidden;
            opacity: 0;

            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }
        }

        &:hover > .tooltip,
        &:focus > .tooltip {
                visibility: visible;
                opacity: 1;
                transform: translateY(10%);
        }

        &.space {
            flex-grow: 1;
        }
    }
}

/* RESPONSIVENESS */

@media screen and (max-width: 640px) {

    header {
        & .header-item:nth-child(4),
        & .header-item:nth-child(5),
        & .header-item:nth-child(6),
        & .header-item:nth-child(7),
        & .header-item:nth-child(8)
        {
            display: none !important;
            visibility: hidden;
        }

        aside {
            &.left-menu {
                border-bottom: 1px solid black;
            }
            &.right-content {
                flex: 100%;
            }

        }
    }

    section.dashboard {
        width: 80%;
        padding-right: var(--sz-micro);
    }
}